<main class="principal">
    <div class="card contenedorForms">
        <div class="card-header">
            <p class="bg-light">Sala de chat</p>
        </div>
        <div class="card-body overflow-y-auto">
            @for (mensaje of listaMensajes; track mensaje) {
                <p class="mensaje"> {{ mensaje }} </p>
            }   
        </div>
    </div>
    <div class="contenedorForms gap-5">
        <app-mensaje-hermano (mensaje)="recibirMensaje($event)" class="w-50"></app-mensaje-hermano>
        <app-mensaje-usuario (mensaje)="recibirMensaje($event)" class="w-50"></app-mensaje-usuario>
    </div>
</main>